/* Scroll Bar Design  */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: inherit;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.js-copyright-label{
    display: none !important;
}

.tradingview-widget-copyright{
    display: none !important;
}


